.page-background {
  background-color: $background-color;
  background-image: url(./assets/bg.png);
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 400px;
  z-index: -1;
}

.main{
  &__inner{
    position: relative;
    padding: 40px 0;
    min-height: calc(100vh - 98px - 70px);
    height: auto;
  }
}

.language-switcher {
  cursor: pointer;
}

.loader {
  position: fixed;
  top: 50%;
  left: 46%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0 auto;
  border: 8px solid #fff;
  border-top: 8px solid $main-accent-color;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  z-index: 10;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

