.page-background {
  background-color: $background-color;
  background-image: url(./assets/bg.png);
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 400px;
  z-index: -1;
}

.main{
  &__inner{
    padding: 40px 0;
    min-height: calc(100vh - 98px - 70px);
    height: auto;
  }
}

.language-switcher {
  cursor: pointer;
}

