.login{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 98px - 70px - 80px);
  &__inner{
    width: 450px;
  }
  &__title{
    text-align: center;
    margin-bottom: 40px;
  }
  &__form{
    width: 450px;
    box-shadow: 2px 2px 9px rgba(0,0,0,.13);

    &-item{
      position: relative;
      &:first-child{
        input{
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
    }
    &-icon{
      position: absolute;
      display: block;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      width: 35px;
      height: auto;
}
    &-input{
      width: 100%;
      height: 85px;
      padding-left: 89px;
      font-size: 18px;
      font-family: $main-font;
      background-color: $input-bg-color;
      border: none;
      &:focus{
        outline: none;
        background-color: $input-bg-color--active;
      }
      &::placeholder{
        opacity: 0.5;
      }
    }

    &-meta{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 20px;
      font-size: 14px;
    }
  }

  &__error-message{
    width: 45%;
    color: $main-accent-color;
    cursor: pointer;
    @include transition-primary;
    color: #e53935;
  }
  &__register{
    margin-left: 10px;
  }

  &__register-link{
    margin-left: 5px;
    color: $main-accent-color;
    cursor: pointer;
    @include transition-primary;
    &:hover{
      color: $main-accent-color-light;
    }
  }
}

.error{
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  &-icon{
    width: 29px;
    height: auto;
    content: '';
    position: absolute;
    bottom: 30px;
    margin: auto;
    right: 28px;
  }
  &-text{
    position: absolute;
    bottom: 10px;
    left: 89px;
    font-size: 12px;
    color: #e53935;
    font-weight: 400;
  }
}

.submit-btn{
  padding-left: 0;
  height: 80px;
  background-color: $main-accent-color;
  color: $main-light-color;
  text-transform: uppercase;
  line-height: 80px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  @include transition-primary;
  &:hover{
    background-color: $main-accent-color-light;
  }
  &:focus{
    background-color: $main-accent-color-light;
  }
}

.--border {
  border-bottom: 1px solid $border-input-color;
}

.registration-success{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $main-font;
  font-size: 38px;
  font-weight: 500;
  color: $main-accent-color;
  text-transform: uppercase;
}